/* Custom styles for hover effects and responsiveness */

.nav-link {
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--blue); /* Change to desired hover color */
}


button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--blue_dark); /* Change to desired hover color */
}


/* Responsive styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    .container {
        padding: 0 15px;
    }
}
